body {
    font-family: 'Quicksand', sans-serif;
    font-size: 100%,
}

#intro {
    width: 100vw;
    height: 100vh;
    margin-left: unset;
}

#intro-left {
    margin-top: 90px;
    padding-left: 50px;
    padding-right: 30px;
}

#subheading {
    max-width: 100%;
}

#main-logo {
    height: auto;
    width: 70%;
}

#intro-right {
    margin-top: 90px;
    padding-right: unset;
    z-index: 1000;
}

#main-pict {
    height: auto;
    width: 75%;
}

#main-subheading {
    margin-top: 20px;
    margin-bottom: 16px;
    color: #753C19;
    font-size: 1.75em;
    font-weight: bold;
}

#arrow{
    height: 3vh;
    width: auto;
}

#tahukah-kamu {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image: url("https://drive.google.com/uc?id=1nqxUYUROEVTNE-Ey3TAC_JsGL6f-Beu_");
}

#tahukah-kamu-chat_container {
    z-index: 100;
    height: 100vh;
    padding: 3rem 6rem;
}

#tahukah-kamu-paragraph {
    margin-bottom: 100px;
}

#tahukah-kamu-title {
    margin-top: 20px;
    margin-bottom: 16px;
    color: #B0D236;
    font-size: 1.75em;
    font-weight: bold;
}

/*tentang permainan*/
#tentang-permainan {
    height: 100vh;
    width: 100vw;
    background-color: #B0D236;
}

#tentang-permainan_text-content {
    width: 100%;
    height: 80vh;
    text-align: center;
}

#tentang-permainan_text-content_paragraph {
    width: 100vw;
    padding: 0 30%;
}

#tentang-permainan-title {
    margin-top: 20px;
    margin-bottom: 16px;
    color: #627B1B;
    font-size: 1.75em;
    font-weight: bold;
}

#line-of-bears {
    width: 100vw;
    padding-top: 10px;
}

.chat_bubble{
    display: none;
}

#kodi-set{
    border: 0;
    padding: 0;
    position: absolute;
    bottom: 110px;
    background-color: transparent;
}

.kodi-on-gamebar {
    height: 20vh;
    width: auto;
}

.kodi-on-gamebar:hover {
    height: 20vh;
    width: auto;
    content: url('https://drive.google.com/uc?id=1r6xnebYVrzlk6Lrh9rvFf4S04BbfdFT3')
}

#kodi-set:hover .chat_bubble{
    display: block;
    width: 10vw;
    height: auto;
}


#hani-set {
    border: 0;
    padding: 0;
    position: absolute;
    bottom: 110px;
    background-color: transparent;
}

#hani-on-gamebar {
    height: 20vh;
    width: auto;
}
#hani-bear-modal{
    height: 35vh;
    width: auto;
    margin-left: 40px;
}

#hani-on-gamebar:hover {
    height: 20vh;
    width: auto;
    content: url('https://drive.google.com/uc?id=1JTJwhNwaEHXY6_kxJPZGbjChTzdBAaUL')
}

#hani-bear-name{
    height: 8vh;
    width: auto;
}

#hani-set:hover .chat_bubble{
    display: block;
    width: 10vw;
    height: auto;
}



#taka-set{
    border: 0;
    padding: 0;
    position: absolute;
    bottom: 110px;
    background-color: transparent;
}

#taka-on-gamebar {
    height: 20vh;
    bottom: 0;
    width: auto;
}

#taka-on-gamebar:hover {
    height: 20vh;
    width: auto;
    content: url('https://drive.google.com/uc?id=1asqYvCzD4hFrbvyB2E_pr9twZxLjf81n')
}

#taka-set:hover .chat_bubble{
    display: block;
    width: 10vw;
    height: auto;
}



#muna-set{
    border: 0;
    padding: 0;
    position: absolute;
    bottom: 110px;
    background-color: transparent;
}

#muna-on-gamebar {
    height: 20vh;
    width: auto;
}

#muna-on-gamebar:hover {
    height: 20vh;
    width: auto;
    content: url('https://drive.google.com/uc?id=1RksjB76i0DrAirjPysNoZEHSF3HJdGck')
}

#muna-set:hover .chat_bubble{
    display: block;
    width: 10vw;
    height: auto;
}



#gamebar-and-bears {
    position: relative;
    margin-top: auto;
    width: 100vw;
    height: auto;
    max-height: 20vh;
    background-color: #B0D236;
}

#gamebar-section-three {
    position:relative;
    width: 100vw;
}

#footer {
    width: 100vw;
    height: 100vh;
    margin-left: unset;
}

#footer-left {
    margin-top: 50px;
    padding-left: unset;
}

#footer-right {
    margin-top: 50px;
    padding-right: unset;
}

#footer-image {
    height: auto;
    width: 85%;
}

#footer-subheading {
    margin-top: 20px;
    margin-bottom: 16px;
    color: #753C19;
    font-size: 1.75em;
    font-weight: bold;
}

#buttons-container {
    width: 41%;
}

.btn {
    padding: 0;
}

.button-content_instruksi {
    height: 100%;
    width: 100%;
}

.button-content_instruksi:hover {
    content: url('https://drive.google.com/uc?id=1uNQuUKq_jYCtJTbexWbe2b72neiYHYhv');
    height: 100%;
    width: 100%;
}

.button-content_panduan {
    height: 100%;
    width: 100%;
}

.button-content_panduan:hover {
    content: url('https://drive.google.com/uc?id=1qzAwlXvgzeVaRxdHA15nciQWufE9oQ8x');
    height: 100%;
    width: 100%;
}

.btn-outline-primary {
    border: none;
    width: 100%;
    margin-top: 15px;
}

.btn-outline-primary:hover {
    background-color: transparent;
    border-color: transparent;
    box-shadow: transparent;
}

.btn:active,
.btn:focus,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.download-logo {
    width: auto;
    height: 75%;
}

.download-logo:hover {
    content: url('https://drive.google.com/uc?id=1eMA1m60AkD07rw2TZVrjpEJR5rXzkhTl');
    width: auto;
    height: 75%;
}

.copyright {
    bottom: 0;
    width: 100%;
    margin-top: auto;
    margin-bottom: 20px;
}

#bca-logo {
    height: 4vh;
    width: auto;
}

.copyright-text {
    margin: 10px;
}

.text-paragraph{
    margin-top: 30px;
    margin-bottom: 30px;
}

.modal-body{
    margin-top: 50px;
    margin-bottom: 50px;
}

.bear-modal{
    height: 35vh;
    width: auto;
    margin-left: 40px;
}
.bear-name{
    height: 8vh;
    width: auto;
}