#intro{
    width: 100vw;
    height: 100vh;
    margin-left: unset;
}
#subheading{
    max-width: 100%;
}
#main-logo{
    height: 20vh;
    width: 40vw;
}
#intro-right{
    padding-right:unset;
}
#main-pict{
    height: 50vh;
    width: 40.2vw;
}


#tahukah-kamu{
    background-color: #B0D236;
    width: 100vw;
    height: 100vh;
}
#tahukah-kamu_bear{
    height: 50vh;
    width: 40vw;
}

#bubble-chat{
    position: relative;
    height:50vh;
    width: 40vw;
}

#tahukah-kamu-chat_image{
    height: 50vh;
    width: 40vw;
    position: absolute;
}

#tahukah-kamu-chat_text{
    position: absolute;
    z-index: 100;
    padding: 3rem 6rem;
}


#tentang-permainan{
    height: 100vh;
    width: 100vw;
    background-color: #B0D236;

}
#tentang-permainan_text-content{
    width: 100%;
    height: 100%;
    text-align: center;
}

#tentang-permainan_text-content_paragraph{
    width: 100vw;
    padding: 0 30%;
}

#line-of-bears{
    width: 100%;
    display: inline-flex;
    background-color: #B0D236;
    justify-content: space-around;
}

#kodi-on-gamebar{
    height: 15vh;
    width: 10vw;
}

#hani-on-gamebar{
    height: 15vh;
    width: 10vw;
}

#taka-on-gamebar{
    height: 15vh;
    width: 10vw;
}

#muna-on-gamebar{
    height: 15vh;
    width: 10vw;
}

#gamebar-section-three{
    width: 100%;
}
