#subheading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    background-color: #b0d236;
    width: 100vw;
    height: 100vh;
}

#content{
    background-color: aqua;
    width: 100vw;
    height: 100vh;
}